<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="js/site.js"></script>
    <script src="https://kit.fontawesome.com/94257a35b6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" />
    <title>Home Page</title>

</head>

    <h2 class="text-center">Quick Scripts</h2>
    <p class="text-center">
        The fast and easy way to order prescriptions.
    </p>


