@model Movie
<partial name="_BreadCrumbs" model=@(new [] {
                                            ("/", "Home"),
                                            ("/movie", "Movies"),
                                            ($"/movie/details/{Model.Title}", $"{Model.Title}"),
                                            ("", "CreateReview") })>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Created On</th>
                <th>Comment</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var r in Model.Reviews)
            {
                <tr>
                    <td>@r.Name</td>
                    <td>@r.CreatedOn.ToString("MM/dd/yy H:mm")</td>
                    <td>@r.Comment</td>
                    <td>@r.Rating</td>
                </tr>


            }
        </tbody>

    </table>
