<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="js/site.js"></script>
    <script src="https://kit.fontawesome.com/94257a35b6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" />
    <title>Home Page</title>

</head>

    <h2 class="text-center">Welcome to Retrospective Reviews</h2>
    <p class="text-center">
        The people's movie review site.
    </p>

<body>
<div class="carousel-container">
   <i class="fas fa-arrow-left" id="prevBtn"></i> 
        <i class="fas fa-arrow-right" id="nextBtn"></i>
   
    <div class="carousel-slide">

        <img src="img/Warriors.jpg" id="lastClone" alt=""/>
        <img src="img/Airheads.jpg" alt=""/>
        <img src="img/ApocalypseNow.jpg" alt=""/>
        <img src="img/Batman.jpg" alt=""/>
        <img src="img/Crossroads.jpg" alt=""/>
        <img src="img/EasyRider.jpg" alt=""/>
        <img src="img/ElCamino.jpg" alt=""/>
        <img src="img/Founder.jpg" alt=""/>
        <img src="img/Hollywood.jpg" alt=""/>
        <img src="img/IdiAmin.jpg" alt=""/>
        <img src="img/KillerKlowns.jpg" alt=""/>
        <img src="img/Lebowski.jpg" alt=""/>
        <img src="img/PaulBlart.jpg" alt=""/>
        <img src="img/Punisher.jpg" alt=""/>
        <img src="img/Rambo.jpg" alt=""/>
        <img src="img/RedDawn.jpg" alt=""/>
        <img src="img/TheMatrix.jpg" alt=""/>
        <img src="img/Spiderman.jpg" alt=""/>
        <img src="img/Seven.jpg" alt=""/>
        <img src="img/TheyLive.jpg" alt=""/>
        <img src="img/Warriors.jpg" alt=""/>
        <img src="img/Airheads.jpg" id="firstClone" alt=""/>

    </div>
</div>

</body>

